.app {
  display: flex;
  height: 100vh;
}

.chat-list {
  width: 320px;
  border-right: 1px solid #222;
}

.chat-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .chat-list {
    width: 100%;
  }
}
